@layer me.component {
  .darkmode-toggle__title {
    font-size: var(--font-size-base);
  }

  .darkmode-toggle__items {
    display: flex;
    gap: 1rem;
  }

  .field--radio {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    .field__input {
      position: absolute;
      opacity: 0;
      pointer-events: none;

      &:checked + .field__label {
        color: var(--color-dark);
        background-color: var(--color-primary);
      }
    }

    .field__label {
      display: flex;
      gap: 0.5rem;
      padding: 0.5rem 1rem;
      background-color: var(--color-descent-100);
      border-radius: 2rem;
      corner-shape: squircle;
      cursor: pointer;
      transition: var(--transition-fast);

      &:hover {
        color: var(--color-dark);
        background-color: var(--color-primary);
      }
    }
  }
}
