@layer me.component {
    .todo-form {
        display: flex;
        margin-bottom: 2rem;
    }

    .field-group {
        display: flex;
        gap: 0.5rem;
        opacity: 0.75;
        width: 100%;
        padding: 0.125rem;
        border: 2px solid var(--color-text);
        border-radius: 2rem;
        corner-shape: squircle;

        &:hover,
        &:focus-within {
            opacity: 1;
            border-color: var(--color-primary);
        }
    }

    .field--text {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        width: 100%;

        .field__input {
            width: stretch;
            height: 100%;
            color: var(--color-text);
            background-color: transparent;
            border: 0;
            border-radius: 2rem;
            corner-shape: squircle;
            padding: 0.5rem 1rem;

            &:focus {
                outline: none;
            }
        }
    }
}