@layer me.component {
    .todo-form {
        display: flex;
    }

    .field-group {
        position: relative;
        display: flex;
        gap: 0.5rem;
        width: 100%;
        padding: 1.5rem;

        &::after {
            content: '';
            position: absolute;
            inset: 0;
            z-index: -1;
            background-color: var(--color-foo);
            border: 1px solid transparent;
            border-radius: 2rem;
            corner-shape: squircle;
            box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, .2);
            transition: inset var(--transition-fast) cubic-bezier(0.175, 1.25, 0.32, 1.8);
        }

        /* &:hover,
        &:focus-within {
            &::after {
                border-color: var(--color-primary);
            }
        } */

        &:hover {
            &::after {
                /* inset: -0.125rem -0.25rem; */
                box-shadow: 0 0 0 0.125rem color-mix(in srgb, var(--color-primary) 30%, var(--color-background) 80%);
            }
        }

        &:focus-within {
            &::after {
                inset: -0.125rem -0.25rem;
                box-shadow: 0 0 0 1px var(--color-primary), 0 0 0 0.25rem color-mix(in srgb, var(--color-primary) 30%, var(--color-background) 80%);
            }
        }
    }

    .field--text {
        display: flex;
        gap: 0.25rem;
        width: 100%;
        flex: 1 1 auto;
        width: 1%;
        min-width: 0;

        .field__input {
            width: stretch;
            height: 100%;
            font-size: var(--font-size-lg);
            color: var(--color-text);
            background-color: transparent;
            border: 0;
            border-radius: 2rem;
            corner-shape: squircle;
            padding-block: 0.5rem;

            &:focus {
                outline: none;
            }
        }

        .field__label {
            display: flex;
            padding: 1rem;
            margin-left: -0.5rem;
        }
    }
}