@layer me.component {
  .todo-form {
    position: sticky;
    top: 1rem;
    z-index: 20;
    display: flex;
    box-shadow: 0 -1rem 0 2rem
      color-mix(in srgb, var(--color-primary) 10%, var(--color-background) 90%);
    border-radius: 3rem;
    corner-shape: squircle;

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 100%;
      z-index: 1;
      width: 1rem;
      height: 1rem;
      margin-top: 1rem;
      background-image: radial-gradient(
        circle at var(--corner-position) 100%,
        transparent 1rem,
        color-mix(
            in srgb,
            var(--color-primary) 10%,
            var(--color-background) 90%
          )
          1rem
      );
      background-repeat: no-repeat;
      box-shadow: var(--corner-shadow-position) -0.5rem 0 0.25rem
        color-mix(
          in srgb,
          var(--color-primary) 10%,
          var(--color-background) 90%
        );
      pointer-events: none;
    }

    &::before {
      --corner-position: 100%;
      --corner-shadow-position: -0.5rem;

      left: 0;
    }

    &::after {
      --corner-position: 0;
      --corner-shadow-position: 0.5rem;

      right: 0;
    }
  }

  .todo-form__actions {
    display: flex;
    gap: 0.5rem;
  }

  .field-group {
    position: relative;
    display: flex;
    gap: 0.5rem;
    width: 100%;
    padding: 1.5rem;

    &::after {
      content: '';
      position: absolute;
      inset: 0;
      z-index: -1;
      background-color: var(--color-background);
      border: 1px solid transparent;
      border-radius: 2rem;
      corner-shape: squircle;
      box-shadow: 0 0.25rem 0.5rem rgb(0 0 0 / 20%);
      transition: inset var(--transition-fast)
        cubic-bezier(0.175, 1.25, 0.32, 1.8);
    }

    /* &:hover,
        &:focus-within {
            &::after {
                border-color: var(--color-primary);
            }
        } */

    &:hover {
      &::after {
        box-shadow: var(--shadow-focus);
      }
    }

    &:focus-within {
      &::after {
        inset: -0.125rem -0.25rem;
        box-shadow: var(--shadow-focus);
      }
    }
  }
}
