@layer me.component {
  .badge {
    padding: 0.125rem 0.25rem;
    min-width: 2rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 5rem;
    border: 1px solid var(--color-primary);
    color: var(--color-text);
    font-size: 0.75em;

    /* .badge__label {
      color: var(--color-black);
    } */
  }
}
