@layer me.component {
    .todo-section {
        display: flex;
        flex-direction: column;

        position: relative;
        padding: 1px;
        background-color: var(--color-bar);
        border-radius: 2rem;
        corner-shape: squircle;
        box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, .2);
        background-image: linear-gradient(90deg, transparent, var(--color-blubb), transparent);

        /* &::after {
            content: '';
            position: absolute;
            top: 1px;
            width: 80%;
            background-image: linear-gradient(90deg, transparent, #d7c7c3, transparent);
            height: 1px;
            left: 10%;
        } */

        &:not(:has(.todo-item)) {
            display: none;
        }

    }

    .todo-section__content {
        /* display: flex; */
        /* flex-direction: column; */
        /* gap: 1rem; */
        padding: 1rem;
        background-color: var(--color-foo);
        border-radius: inherit;
        corner-shape: inherit;

        @media (width > 576px) {
            padding: 2rem;
        }

        &:open .todo-section__header .icon {
            transform: rotate(180deg);
        }

        &::details-content {
            block-size: 0;
            overflow-y: clip;
            transition: content-visibility .3s allow-discrete, block-size .3s;
        }

        &[open]::details-content {
            block-size: auto;
        }
    }

    .todo-section__header {
        position: sticky;
        /* top: var(--header-height); */
        top: 0;
        z-index: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0.5rem;
        padding: 1rem 2.125rem 1rem 1rem;
        cursor: pointer;
        background-color: var(--color-foo);
        z-index: 10;
        margin-inline: -1rem;

        &::before {
            content: '';
            position: absolute;
            inset: -0.125rem 0.25rem;
            z-index: -1;
            background-color: var(--color-bar);
            border-radius: 1.75rem;
            corner-shape: squircle;
            opacity: 0;
        }

        &:hover {
            &::before {
                opacity: 0.5;
            }

            .icon {
                opacity: 1;
            }
        }

        .icon {
            opacity: 0.2;
        }
    }

    .todo-section__title {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    .todo-section__items {
        list-style: none;
        margin: 0;
        padding: 0;
    }
}