@layer me.component {
    .burst {
        position: fixed;
        pointer-events: none;
        z-index: 9999;
        top: 0;
        left: 0;
        width: 1px;
        height: 1px;
    }

    .burst span {
        position: absolute;
        background: color-mix(in srgb, var(--color-primary) 30%, var(--color-background) 30%);
        width: 1rem;
        aspect-ratio: 1;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        animation: explode 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
    }

    @keyframes explode {
        0% {
            opacity: 1;
            transform: translate(-50%, -50%) scale(0);
        }
        /* 50% {
            opacity: 1;
            transform: translate(-50%, -50%) scale(1.2) rotate(180deg);
        } */
        100% {
            opacity: 0;
            transform: translate(-50%, -50%) scale(1.5);
        }
    }
}
