@layer me.component {
    .todo-item {
        position: relative;
        z-index: 0;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 0.5rem;
        padding-block: 0.5rem;

        &:not(:last-child) {
            border-bottom: 1px solid var(--color-bar);
        }

        &::before {
            content: '';
            position: absolute;
            inset: -0.15rem -0.75rem;
            z-index: -1;
            background-color: var(--color-bar);
            border-radius: 1.75rem;
            corner-shape: squircle;
            opacity: 0;
            /* transform: scale(0.75); */
            /* transition: transform var(--transition-duration); */
        }

        &:hover {
            &::before {
                opacity: 1;
                /* transform: scale(1); */
            }
        }

        .button {
            margin-inline-start: auto;
        }
    }

    /* @todo als einzelne Componente auslagern */
    .field--checkbox {
        .field__control {
            position: absolute;
            opacity: 0;
            pointer-events: none;

            &:checked {
                + .field__label::before {
                background-color: var(--color-bar);
                /* box-shadow: inset 0 0 0 6px #f0ece4; */
            }
            }
        }

        .field__label {
            &::before {
            content: '';
            display: inline-flex;
            width: 2em;
            height: 2em;
            /* margin-right: 0.5em; */
            border: 2px solid var(--color-bar);
            background-color: transparent;
            border-radius: 1rem;
            corner-shape: squircle;
            }
        }
    }
}