@layer me.component {
  .todo-item {
    position: relative;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    padding-block: 0.5rem;
    transition:
      display var(--transition-fast) allow-discrete,
      transform var(--transition-fast),
      block-size var(--transition-fast),
      opacity var(--transition-fast),
      margin var(--transition-fast);

    @starting-style {
      block-size: 0;
      transform: scale3d(0.95, 0.5, 1);
      opacity: 0;
    }

    &::before {
      content: '';
      position: absolute;
      inset: 0.5rem 4.25rem 0.5rem -0.75rem;
      z-index: -1;
      background-color: color-mix(
        in srgb,
        var(--color-primary) 5%,
        var(--color-background) 20%
      );
      border-radius: 1.75rem;
      corner-shape: squircle;
      opacity: 0;
      transition: var(--transition-medium);
    }

    &:hover {
      &::before {
        opacity: 1;
      }
    }

    .button {
      margin-inline-start: auto;
    }
  }

  .todo-item__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* align-items: center; */
    /* gap: 0.25rem; */
  }

  .todo-item__text,
  .todo-item__description,
  .todo-item__date {
    outline: 0;
    padding: 0.25rem 0.5rem;
    border-radius: 2rem;
    corner-shape: squircle;
    transition: var(--transition-fast);

    &:focus {
      background-color: var(--color-background);
      box-shadow: var(--shadow-focus);
    }
  }

  .todo-item__text {
    margin-bottom: -0.375rem;
  }

  .todo-item__description {
    opacity: 0.75;
    font-size: var(--font-size-md);
  }

  .todo-item__date {
    margin-top: 0.5rem;
    margin-left: 0.375rem;
    padding-block: 0.125rem;
    font-size: var(--font-size-md);
    border: 1px solid currentColor;
  }

  .todo-item__date--soon {
    color: var(--color-warning);
  }

  .todo-item__date--past {
    color: var(--color-danger);
  }
}
