@layer me.component {
    .todo-item {
        position: relative;
        z-index: 0;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 0.5rem;
        padding-block: 0.5rem;

        &:not(:last-child) {
            border-bottom: 1px solid var(--color-bar);
        }

        &::before {
            content: '';
            position: absolute;
            inset: -0.125rem -0.75rem;
            z-index: -1;
            background-color: var(--color-bar);
            border-radius: 1.75rem;
            corner-shape: squircle;
            opacity: 0;
            /* transform: scale(0.85);
            transition: calc(var(--transition-duration) / 2); */
        }

        &:hover {
            &::before {
                opacity: 1;
                /* transform: scale(1); */
            }
        }

        .button {
            margin-inline-start: auto;
        }
    }

    /* @todo als einzelne Componente auslagern */
    .field--checkbox {
        .field__control {
            position: absolute;
            opacity: 0;
            pointer-events: none;

            &:checked {
                + .field__label {
                    .field__icon {
                        background-color: var(--color-text);
                        /* box-shadow: inset 0 0 0 6px #f0ece4; */
                    }

                    .icon {
                        opacity: 1;
                        color: var(--color-background);
                    }

                    &:hover {
                        & .field__icon {
                            background-color: var(--color-primary);

                            /* .icon {
                                opacity: 0.1;
                            } */
                        }
                    }
                }
            }
        }

        .field__label {
            &:hover {
                & .field__icon {
                    border-color: var(--color-primary);
                    opacity: 1;

                    .icon {
                        opacity: 0.5;
                    }
                }
            }
        }

        .field__icon {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 2em;
            height: 2em;
            border: 2px solid var(--color-text);
            background-color: transparent;
            border-radius: 1rem;
            corner-shape: squircle;
            cursor: pointer;
            opacity: 0.75;

            .icon {
                opacity: 0;
            }
        }
    }
}