@layer me.component {
  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 1rem;
    border: 2px solid transparent;
    border-radius: 2rem;
    corner-shape: squircle;
    color: var(--color-text);
    line-height: 1;
    cursor: pointer;
    transition: var(--transition-fast);

    &:hover {
      color: var(--button-hover-color, var(--color-text));
      background-color: var(--button-hover-bg, #e2e8f0);
    }

    &:disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }

    &:active {
      transform: scale(0.9);
    }

    &:focus-visible {
      border-color: var(--color-primary);
      outline: 0;
      box-shadow: var(--shadow-focus);
    }
  }

  .button--ghost {
    background-color: color-mix(
      in srgb,
      var(--color-primary) 5%,
      var(--color-background) 20%
    );
    border-color: transparent;
  }

  .button--solid {
    background-color: var(--color-primary);
    border-color: transparent;
  }

  .button--primary {
    --button-hover-color: var(--color-black);
    --button-hover-bg: var(--color-primary);
  }

  /* .button--secondary {
        --button-hover-color: #000;
        --button-hover-bg: var(--color-primary);
    } */

  .button--danger {
    --button-hover-bg: var(--color-danger);

    &.button--solid {
      background-color: var(--color-danger);
    }
  }
}
