@layer me.component {
    .button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        border-radius: 2rem;
        corner-shape: squircle;
        color: var(--color-text);
        line-height: 1;
        cursor: pointer;

        &:hover {
            color: var(--button-hover-color, var(--color-text));
            background-color: var(--button-hover-bg, #e2e8f0);
        }

        &:disabled {
            cursor: not-allowed;
            opacity: 0.5;
        }
    }

    .button--ghost {
        background-color: transparent;
        border-color: transparent;
    }

    .button--primary {
        --button-hover-color: #000; /* @todo */
        --button-hover-bg: var(--color-primary);
    }

    .button--danger {
        --button-hover-bg: var(--color-danger);
    }
}
