@layer me.component {
    .todo-list {
        align-items: center;
        width: calc(100% - 2rem);
        max-width: var(--todo-list-width);
        margin-inline: auto;
        margin-bottom: 2rem;
    }

    .todo-list__title {
        margin: auto;
        font-size: var(--font-size-lg);
        text-align: center;
        padding: 0.375rem 1.5rem;
        border-radius: 2rem;
        corner-shape: squircle;
        outline: none;
        transition: var(--transition-fast);


/* style={{ fontSize: '1.5em', fontWeight: 'bold', width: '100%', border: 'none', background: 'transparent', outline: 'none' }} */

        &:hover,
        &:focus {
            background-color: var(--color-descent-200);
        }
    }

    .todo-list__content {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}
