@layer me.component {
    .todo-list {
        align-items: center;
        width: calc(100% - 2rem);
        max-width: var(--todo-list-width);
        margin-inline: auto;
        margin-bottom: 2rem;

        &:not(:has(.todo-item)) {
            .todo-list__footer {
                .button--danger {
                    display: none;
                }
            }
        }
    }

    .todo-list__title {
        margin: auto;
        font-size: var(--font-size-lg);
        text-align: center;
        padding: 0.375rem 1.5rem;
        border-radius: 2rem;
        corner-shape: squircle;
        outline: none;
        transition: var(--transition-fast);
        max-width: fit-content;
        margin-bottom: 0.5rem;

        &:hover,
        &:focus {
            background-color: var(--color-descent-200);
        }
    }

    /* .todo-list__content {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    } */

    .todo-list__footer {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        margin-top: 2rem;
    }
}
