@layer me.override {
  :root {
    --no-motion: 0; /* 0 = animations ON, 1 = OFF */
  }

  @media (prefers-reduced-motion: reduce) {
    :root {
      --no-motion: 1;

      transition-property: none;
      transition-duration: calc(var(--no-motion, 0) * 0s);
      animation-duration: calc(var(--no-motion, 0) * 0s);
      animation-iteration-count: calc(1 - var(--no-motion));
    }
  }

  .no-motion {
    *,
    *::before,
    *::after,
    *::backdrop {
      transition-property: none;
      transition-duration: calc(var(--no-motion, 0) * 0s);
      animation-duration: calc(var(--no-motion, 0) * 0s);
      animation-iteration-count: calc(1 - var(--no-motion));
    }
  }

  .motion-switch__title {
    font-size: var(--font-size-base);
  }
}
