@layer me.component {
    .logo {
        display: flex;
        /* flex-direction: column; */
        align-items: baseline;
        gap: 0.5rem;
        margin: 0.5rem;
        font-size: 1.5rem;
        text-transform: uppercase;
        text-align: center;
        line-height: 1;
    }

    /* .logo__the {
        font-size: 0.5em;
    }

    .logo__todo {
    }

    .logo__list {
        font-size: .75em;
        text-transform: uppercase;
        margin-top: -.125em;
    } */
}