@layer me.component {
  /* stylelint-disable no-descending-specificity, declaration-property-value-no-unknown */
  .logo {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    gap: 0.5rem;
    margin: 0.5rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    cursor: default;
    user-select: none;
    pointer-events: auto;

    @media (prefers-reduced-motion: no-preference) {
      @supports (animation-timeline: scroll()) {
        animation: logo-scroll linear both;
        animation-timeline: scroll();
        animation-range: 0 35rem;
        transform-origin: 50% 130%;
      }
    }
  }

  .logo__todo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    aspect-ratio: 1;
    font-size: 2.5rem;
    padding: 1rem;
    width: 8rem;
    color: var(--color-white);
    position: absolute;
    z-index: 8;
    top: 85%;
    left: 10%;
    transform: rotate(-15deg);

    &::before {
      content: '';
      position: absolute;
      top: 1px;
      right: 15%;
      left: 15%;
      height: 1px;
      background-image: linear-gradient(
        90deg,
        transparent,
        var(--color-white),
        transparent
      );
      opacity: 0.6;
    }
  }

  .logo__do {
    margin-top: -0.75em;
  }

  .octopus {
    position: relative;
    width: 10rem;
    height: 10rem;
    margin-bottom: 7rem;
    transition: var(--transition-fast);

    span {
      display: flex;
    }
  }

  .octopus--clicked {
    transform: scale(0.9);

    .octopus__mouth {
      height: 12%;
    }
  }

  .octopus__spots {
    position: absolute;
    inset: 0;
    z-index: 2;
    pointer-events: none;
  }

  .octopus__spot {
    position: absolute;
    width: 7%;
    height: 11%;
    background: var(--color-white);
    border-radius: 50%;
    opacity: 0.1;
    pointer-events: auto;

    &::after {
      content: '';
      position: absolute;
      width: 73%;
      height: 70%;
      background: var(--color-white);
      border-radius: 50%;
      top: 125%;
      left: -45%;
    }
  }

  .octopus__spot--1 {
    top: 31%;
    left: 15%;
  }

  .octopus__spot--2 {
    left: 70%;
    top: 10%;
    transform: rotate(90deg);
  }

  .octopus__spot--3 {
    top: 86%;
    transform: rotate(45deg);
  }

  .octopus__spot--4 {
    top: 90%;
    left: 93%;
    transform: rotate(-45deg);
  }

  .octopus__body {
    position: absolute;
    inset: 0;
    z-index: 1;
    animation: octopus-bounce 3.5s ease-in-out infinite;
  }

  .octopus__head {
    position: absolute;
    z-index: 3;
    width: 100%;
    aspect-ratio: 0.852;
    background-color: var(--octopus-color);
    background-image: radial-gradient(
      circle at 20% 20%,
      rgb(255 255 255 / 30%),
      transparent 40%
    );
    clip-path: shape(
      from 58.59% 0%,
      curve to 100% 51.13% with 87.14% 0%/100% 21.45%,
      curve to 55.84% 99.03% with 100% 80.8%/74.73% 92.07%,
      curve to 0% 49.66% with 38.58% 105.4%/0% 79.33%,
      curve to 58.59% 0% with 0% 19.99%/30.05% 0%,
      close
    );
  }

  .octopus__mouth {
    position: absolute;
    width: 20%;
    height: 8%;
    background-color: var(--color-black);
    border-radius: 0 0 2em 2em;
    top: 55%;
    left: 46%;
    background-image: linear-gradient(
      315deg,
      rgb(255 255 255 / 25%),
      transparent
    );
    transition: height var(--transition-fast);
  }

  .octopus__eye {
    position: absolute;
    width: 11%;
    height: 15%;
    background: var(--color-black);
    border-radius: 50%;
    top: 36%;
    z-index: 5;
    background-image: radial-gradient(
      circle at 40% 10%,
      rgb(255 255 255 / 30%),
      transparent 70%
    );
    animation: octopus-eye-blink 5s linear infinite;

    &::before {
      content: '';
      position: absolute;
      width: 30%;
      height: 24%;
      background: var(--color-white);
      border-radius: 50%;
      top: 26%;
      right: 20%;
    }
  }

  .octopus__eye--left {
    left: 33%;
  }

  .octopus__eye--right {
    right: 23%;
  }

  .octopus__logo {
    &::before,
    &::after {
      left: 10%;
      content: '';
      position: absolute;
      width: 80%;
      height: 80%;
      top: 85%;
      aspect-ratio: 1;
      border-radius: 4rem;
      corner-shape: squircle;
      transform: rotate(-15deg);
    }

    &::before {
      z-index: 4;
      background-image: linear-gradient(
        to bottom,
        #383838,
        var(--color-black) 60%,
        transparent 60%
      ); /* @todo */
    }

    &::after {
      z-index: 3;
      background-image: linear-gradient(
        to top,
        var(--color-black) 60%,
        transparent 60%
      );
    }
  }

  .octopus__arm {
    position: absolute;
    background: var(--octopus-color);
  }

  [class*='octopus__arm--left-back'],
  [class*='octopus__arm--right-back'] {
    z-index: 1;
    opacity: 0.5;
  }

  .octopus__arm--left-back-1 {
    width: 60%;
    top: 94%;
    right: 75%;
    aspect-ratio: 1.049;
    clip-path: shape(
      from 99.99% 18.21%,
      curve to 40.82% 90.82% with 93.24% 43.2%/71.49% 91.67%,
      curve to 0% 100% with 10.15% 89.97%/5.5% 89.79%,
      curve to 37.2% 81.7% with 9.23% 83.29%/18.09% 82.88%,
      curve to 72.97% 2.62% with 47.91% 81.68%/71.97% 54.05%,
      curve to 99.99% 18.21% with 73.96% -5.26%/100.45% 6%,
      close
    );
  }

  .octopus__arm--left-back-2 {
    width: 50%;
    top: 46%;
    right: 85%;
    aspect-ratio: 1.062;
    clip-path: shape(
      from 0% 0%,
      curve to 42.35% 57.4% with 36.45% 16.57%/42.88% 29.24%,
      curve to 79.04% 99.8% with 41.83% 85.57%/51.67% 102.02%,
      curve to 90.81% 79.9% with 106.4% 97.58%/103.18% 77.94%,
      curve to 55.58% 66.26% with 83.39% 81.07%/60.53% 88.23%,
      curve to 0% 0% with 50.63% 44.3%/55.61% 10.24%,
      close
    );
  }

  .octopus__arm--left-front-1 {
    top: 86%;
    right: 75%;
    width: 27%;
    background-image: radial-gradient(
      circle at 0% 30%,
      rgb(255 255 255 / 30%),
      transparent 70%
    );
    z-index: 4;
    aspect-ratio: 0.462;
    clip-path: shape(
      from 61.31% 100%,
      curve to 50.83% 98.16% with 57.86% 99.47%/54.37% 98.85%,
      curve to 37.33% 23.98% with -20.39% 84.25%/-8.99% 28.72%,
      curve to 94.5% 0% with 83.65% 19.25%/90.48% 14.23%,
      curve to 57.34% 33.29% with 100.05% 3.04%/113.49% 22.29%,
      curve to 43.3% 68.93% with 33.78% 37.9%/20.96% 53.67%,
      line to 61.31% 100%,
      close
    );
  }

  .octopus__arm--left-front-2 {
    top: 34%;
    right: 55%;
    width: 96%;
    aspect-ratio: 1.216;
    background-image: radial-gradient(
      circle at 0% 30%,
      rgb(255 255 255 / 30%),
      transparent 70%
    );
    z-index: 1;
    clip-path: shape(
      from 75.12% 39.26%,
      curve to 26.78% 80.06% with 49.35% 78.13%/38.17% 88.66%,
      curve to 14.35% 28.42% with 15.39% 71.46%/7.52% 48.48%,
      curve to 0% 0% with 21.19% 8.35%/9.64% 0.88%,
      curve to 9.64% 19.96% with 5.6% 5.58%/13.06% 6.75%,
      curve to 16.79% 91.29% with 6.22% 33.17%/-4.41% 76.95%,
      curve to 99.2% 64.28% with 35.45% 103.91%/57.84% 108.6%,
      curve to 75.12% 39.26% with 104.49% 57.82%/82.09% 28.74%,
      close
    );
    animation: octopus-arm-move 12.5s cubic-bezier(0.4, 0, 0.2, 1) infinite
      alternate;
  }

  .octopus__arm--right-front-1 {
    width: 70%;
    top: 83%;
    left: 45%;
    z-index: 3;
    background-image: radial-gradient(
      circle at 80% 80%,
      rgb(255 255 255 / 30%),
      transparent 70%
    );
    aspect-ratio: 0.875;
    clip-path: shape(
      from 37.01% 1.69%,
      curve to 99.31% 44.91% with 73.1% -5.3%/92.49% 9.41%,
      curve to 39.04% 96.38% with 106.35% 81.57%/57.87% 110.42%,
      curve to 0% 90.43% with 20.2% 82.35%/13.67% 82.98%,
      curve to 40.78% 83.2% with 0.88% 86.49%/12.78% 70.5%,
      curve to 79.89% 57% with 52.24% 88.9%/77.04% 78.88%,
      curve to 39.36% 23.06% with 82.42% 37.56%/58.09% 23.21%,
      curve to 37.01% 1.69% with 29.83% 22.98%/28.78% 1.95%,
      close
    );
    animation: octopus-arm-move 8.5s cubic-bezier(0.4, 0, 0.2, 1) infinite
      alternate;
  }

  .octopus__arm--right-front-2 {
    width: 99%;
    top: 35%;
    left: 60%;
    aspect-ratio: 1.56;
    z-index: 2;
    background-image: radial-gradient(
      circle at 100% 40%,
      rgb(255 255 255 / 30%),
      transparent 70%
    );
    clip-path: shape(
      from 100% 5.18%,
      curve to 54.67% 56.6% with 65.77% 4.66%/58.31% 17.86%,
      curve to 16.47% 91.15% with 51.03% 95.34%/40.04% 111.54%,
      curve to 9.09% 56.54% with -7.09% 70.76%/-1.41% 46.03%,
      curve to 41.83% 60.29% with 15.4% 62.85%/34.32% 87.1%,
      curve to 100% 5.18% with 49.35% 33.47%/49.97% -16.12%,
      close
    );
  }

  .octopus__arm--right-back-1 {
    width: 80%;
    top: 89%;
    left: 53%;
    aspect-ratio: 1.204;
    clip-path: shape(
      from 18.73% 0%,
      curve to 98.17% 53.92% with 46.49% 6.85%/111.73% 19.05%,
      curve to 92.71% 100% with 84.6% 88.8%/82.49% 94.09%,
      curve to 85.55% 58.33% with 76.07% 90.06%/79.19% 80.01%,
      curve to 3.62% 20.29% with 89.9% 46.17%/66% 19.73%,
      curve to 18.73% 0% with -5.6% 19.42%/4.01% -0.12%,
      close
    );
  }

  .octopus__arm--right-back-2 {
    width: 50%;
    top: 26%;
    left: 67%;
    aspect-ratio: 0.671;
    clip-path: shape(
      from 17.98% 98.54%,
      curve to 96.53% 57.1% with 50.72% 86.62%/83.74% 82.71%,
      curve to 80.36% 13.34% with 109.33% 31.49%/82.75% 21.89%,
      curve to 93.92% 0.01% with 77.97% 4.8%/93.92% 0.01%,
      curve to 69.07% 11.18% with 93.92% 0.01%/67.57% -0.64%,
      curve to 77.3% 56.63% with 70.57% 23%/94.32% 45.26%,
      curve to 11.04% 81.88% with 60.29% 68%/49.3% 73.39%,
      curve to 17.98% 98.54% with -4.83% 85.26%/-4.5% 105.54%,
      close
    );
  }
  /* stylelint-enable no-descending-specificity, declaration-property-value-no-unknown */

  @keyframes logo-scroll {
    to {
      transform: scale(0.5);
    }
  }

  @keyframes octopus-bounce {
    0%,
    100% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-0.5rem);
    }
  }

  @keyframes octopus-eye-blink {
    0%,
    92% {
      height: 15%;
      top: 36%;
    }

    94%,
    96% {
      height: 2%;
      top: 43%;
    }

    98%,
    100% {
      height: 15%;
      top: 36%;
    }
  }

  @keyframes octopus-arm-move {
    0% {
      transform: rotate(-5deg) scale(1);
    }

    50% {
      transform: rotate(10deg) scale(0.95);
    }

    100% {
      transform: rotate(-5deg) scale(1);
    }
  }
}
