@layer me.component {
    .logo {
        display: flex;
        align-items: baseline;
        gap: 0.5rem;
        margin: 0.5rem;
        font-size: 1.5rem;
        text-transform: uppercase;
        text-align: center;
        line-height: 1;
        cursor: default;
        user-select: none;
    }

    .logo__todo {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        padding: 0.5rem;
        aspect-ratio: 1;
        font-size: 2.5rem;
        padding: 1rem;
        width: 7rem;
        color: var(--color-background);
        background-color: var(--color-primary);
        background-image: linear-gradient(45deg, #00000054, transparent);
        border-radius: 3rem;
        corner-shape: squircle;
        box-shadow: 0 0 1rem color-mix(in srgb, var(--color-primary) 50%, var(--color-background) 50%);

        &::before {
            content: '';
            position: absolute;
            top: 1px;
            right: 15%;
            left: 15%;
            height: 1px;
            background-image: linear-gradient(90deg, transparent, #fff, transparent);
            opacity: 0.6;
        }
    }
}