@layer me.component {
    .icon {
        display: inline-flex;

        /* width: 1.25em; */
        aspect-ratio: 1;
    }

    .icon-sm {
        width: 1em;
    }

    .icon-md {
        width: 1.25em;
    }

    .icon-lg {
        width: 2em;
    }
}
