@layer me.component {
    .header {
        position: sticky;
        top: 0;
        padding-bottom: 0rem;
        margin-top: 15rem;
        margin-bottom: 0;
        z-index: 20;
        display: flex;
        align-items: center;
        justify-content: center;
        /* margin: 1rem; */
        pointer-events: none;
        background-image: linear-gradient(0deg, transparent, color-mix(in srgb, var(--color-primary) 10%, var(--color-background) 90%));

    }
}
