@layer me.component {
  .header {
    padding-bottom: 0;
    margin-top: calc(50vh - 12rem);
    /* margin-top: 15rem; */
    margin-bottom: 0;
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    background-image: radial-gradient(
      farthest-corner at 50% 0,
      color-mix(in srgb, var(--color-primary) 10%, var(--color-background) 90%),
      transparent 50%
    );
  }
}
