@layer me.layout {
  .field--text {
    display: flex;
    gap: 0.25rem;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;

    .field__input {
      width: stretch;
      height: 100%;
      font-size: var(--font-size-lg);
      color: var(--color-text);
      background-color: transparent;
      border: 0;
      border-radius: 2rem;
      corner-shape: squircle;
      padding-block: 0.5rem;

      &:focus {
        outline: none;
      }
    }

    .field__label {
      display: flex;
      padding: 1rem;
      margin-left: -0.5rem;
    }
  }
}
