@layer me.layout {
  .field--select {
    /* stylelint-disable no-descending-specificity */
    position: relative;
    max-width: fit-content;
    margin-inline: auto;

    .field__control {
      padding-right: 3rem;
      appearance: base-select;

      &::after {
        content: '';
        position: absolute;
        inset-inline-end: 0;
        width: 1.5rem;
        height: 1.5rem;
        margin-inline-end: 0.75rem;
        background-color: var(--color-text);
        clip-path: polygon(
          18% 40%,
          50% 68%,
          80% 40%,
          83% 50%,
          50% 81%,
          18% 50%
        );
      }

      &::picker(select) {
        appearance: base-select;
      }

      &:has(option:not([hidden]):checked) {
        color: var(--color-text);
      }

      &:focus-visible {
        outline: 2px solid var(--color-gray-200);
        outline-offset: -1px;
      }

      &::picker-icon {
        display: none;
      }

      &::picker(select) {
        appearance: base-select;
        color: var(--color-text);
        background-color: var(--color-background);
        /* border: 1px solid var(--color-primary); */
        border: 0;
        padding: 0.75rem;
        margin-top: 0.25rem;
        border-radius: 2rem;
        corner-shape: squircle;
        cursor: default;
        transition: var(--transition-fast);
        transform-origin: top;
        transform: translateY(0);
        opacity: 1;
        box-shadow: 0 0.25rem 0.5rem rgb(0 0 0 / 20%);

        @starting-style {
          transform: translateY(-0.25rem) scale(0.95);
          opacity: 0;
        }
      }

      /* optgroup label {
            display: block;
            padding: 0.375rem 0.5rem;
        } */

      option {
        gap: 1rem;
        padding: 0.375rem 0.5rem;
        border-radius: calc(0.5rem - 4px);
        outline: none;
        cursor: pointer;

        &::after {
          content: '';
          width: 0.5rem;
          height: 0.5rem;
          margin-left: auto;
          opacity: 0;
          background-color: var(--color-primary);
          border-radius: 50%;
          /* clip-path: var(--check-icon); */
        }

        &::checkmark {
          display: none;
        }

        &:checked {
          font-weight: 700;
          background-color: transparent;

          &::after {
            opacity: 1;
          }
        }

        &:hover,
        &:focus-visible {
          color: var(--color-black);
          background-color: var(--color-primary);
          /* color: var(--color-text); */

          &::after {
            background-color: var(--color-black);
          }
        }
      }
    }
    /* stylelint-enable no-descending-specificity */
  }
}
