@layer me.layout {
  .field--select {
    /* stylelint-disable no-descending-specificity */
    position: relative;
    max-width: fit-content;

    .field__control {
      appearance: base-select;
      border: 1px solid transparent;
      background-color: var(--color-background);
      padding: 0.75rem 3rem 0.75rem 0.75rem;
      border-radius: 2rem;
      corner-shape: squircle;
      box-shadow: 0 0.25rem 0.5rem rgb(0 0 0 / 10%);
      cursor: pointer;
      transition: var(--transition-fast);

      &::picker(select) {
        appearance: base-select;
      }

      &:has(option:not([hidden]):checked) {
        color: var(--color-text);
      }

      &:hover {
        border-color: var(--color-primary);
      }

      &:focus {
        border-color: var(--color-primary);
        box-shadow: var(--shadow-focus);
      }

      /* &:focus-visible {
        outline: 2px solid var(--color-primary);
        outline-offset: -1px;


      } */

      &::picker-icon {
        display: none;
      }

      &::picker(select) {
        appearance: base-select;
        color: var(--color-text);
        background-color: var(--color-background);
        border: 0;
        padding: 0.75rem;
        margin-top: 0.25rem;
        border-radius: 2rem;
        corner-shape: squircle;
        cursor: default;
        transition: var(--transition-fast);
        transform-origin: top;
        transform: translateY(0);
        opacity: 1;
        box-shadow: 0 0.25rem 0.5rem rgb(0 0 0 / 20%);

        @starting-style {
          transform: translateY(-0.25rem) scale(0.95);
          opacity: 0;
        }
      }

      option {
        gap: 1rem;
        padding: 0.375rem 0.75rem;
        border-radius: 2rem;
        outline: none;
        cursor: pointer;
        corner-shape: squircle;

        &::after {
          content: '';
          width: 0.5rem;
          height: 0.5rem;
          margin-left: auto;
          opacity: 0;
          background-color: var(--color-primary);
          border-radius: 50%;
        }

        &::checkmark {
          display: none;
        }

        &:checked {
          font-weight: 700;
          background-color: transparent;

          &::after {
            opacity: 1;
          }
        }

        &:hover,
        &:focus-visible {
          color: var(--color-black);
          background-color: var(--color-primary);

          &::after {
            background-color: var(--color-black);
          }
        }
      }
    }

    .icon {
      position: absolute;
      top: calc(50% - 0.625rem);
      right: 1rem;
    }
    /* stylelint-enable no-descending-specificity */
  }
}
