@layer me.layout {
  .field--checkbox {
    /* stylelint-disable no-descending-specificity */
    .field__control {
      position: absolute;
      opacity: 0;
      pointer-events: none;

      &:checked {
        + .field__label {
          .field__icon {
            background-color: var(--color-text);
          }

          .icon {
            opacity: 1;
            transform: scale(1);
            color: var(--color-background);
          }

          &:hover {
            & .field__icon {
              background-color: var(--color-primary);

              .icon {
                opacity: 1;
                color: var(--color-background);
              }
            }
          }
        }
      }

      &:focus {
        + .field__label {
          .field__icon {
            border-color: var(--color-primary);
            opacity: 1;

            .icon {
              opacity: 0.5;
            }
          }
        }
      }

      &:focus-visible {
        + .field__label {
          .field__icon {
            box-shadow: var(--shadow-focus);
            border-color: var(--color-primary);
          }
        }
      }
    }

    .field__label {
      &:hover {
        .field__icon {
          border-color: var(--color-primary);
          opacity: 1;

          .icon {
            opacity: 0.5;
            color: var(--color-primary);
            transform: scale(1);
          }
        }
      }
    }

    .field__icon {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 2em;
      height: 2em;
      border: 2px solid var(--color-text);
      background-color: transparent;
      border-radius: 1rem;
      corner-shape: squircle;
      cursor: pointer;
      opacity: 0.75;
      transition: var(--transition-medium);


      .icon {
        opacity: 0;
        transform: scale(0);
        transition: inherit;
      }
    }
    /* stylelint-enable no-descending-specificity */
  }
}
