@layer me.component {
  .dialog {
    --dialog-max-width: 40rem;
    --dialog-transform: translateY(100%);
    --dialog-duration: var(--transition-medium);
    --dialog-border-radius: var(--radius) var(--radius) 0 0;
    --dialog-top-position: auto;
    --dialog-bottom-position: 0;
    --dialog-horizontal-position: auto;
    --backdrop-color: lch(from var(--color-black) l c h / 0.5);
    --backdrop-duration: var(--transition-medium);

    border: none;
    border-radius: 12px;
    max-width: min(90vw, 500px);
    max-height: 90vh;
    overflow: hidden;
    background: transparent;
    width: 100%;
    max-height: calc(100% - 5rem);
    max-width: var(--dialog-max-width);
    margin-top: var(--dialog-top-position, auto);
    margin-bottom: var(--dialog-bottom-position, auto);
    margin-right: var(--dialog-horizontal-position, auto);
    padding: 0;
    border-radius: var(--dialog-border-radius);
    box-shadow: var(--shadow-lg);
    background-color: var(--color-white);
    border: 0;
    transition: display var(--dialog-duration) allow-discrete, overlay var(--dialog-duration) allow-discrete;
    animation: dialog-close var(--dialog-duration) forwards;

    &[open] {
        animation: dialog-open var(--dialog-duration) forwards;

        &::backdrop {
            animation: dialog-backdrop-fade-in var(--backdrop-duration) forwards;
        }
    }

    &::backdrop {
        background-color: transparent;
    }
  }

  .dialog__content {
    position: relative;
    background-color: var(--color-foo);
    color: var(--color-text);
    height: 100%;
    display: flex;
    flex-direction: column;
    max-height: 90vh;
    overflow-y: auto;
    border-radius: 2rem 2rem 0 0;
    corner-shape: squircle;
  }

  .dialog__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem 0 2rem;
    margin-bottom: 0;
  }

  .dialog__title {
    display: flex;
    gap: 0.5rem;
    margin: 0;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.5;
  }

  .dialog__body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1;
    overflow-y: auto;
    padding: 0 2rem 2rem;
  }

  @keyframes dialog-open {
      from {
          opacity: 0;
          transform: var(--dialog-transform);
      }

      to {
          opacity: 1;
          transform: none;
      }
  }

  @keyframes dialog-close {
      from {
          opacity: 1;
          transform: none;
      }

      to {
          opacity: 0;
          transform: var(--dialog-transform);
      }
  }

  @keyframes dialog-backdrop-fade-in {
      from {
          background-color: transparent;
      }

      to {
          background-color: var(--backdrop-color);
      }
  }
}
