@layer me.layout {
	:root {
		font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
		line-height: 1.5;
		font-weight: 400;
		color: var(--color-text);
		background-color: color-mix(in srgb, var(--color-primary) 10%, var(--color-background) 90%);
    	background-attachment: fixed;
		font-synthesis: none;
		text-rendering: optimizeLegibility;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		-webkit-text-size-adjust: 100%;
		caret-color: var(--color-primary);
		overflow-y: scroll;
	}

	.main {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		gap: 2rem;
		min-height: 100dvh;
	}

	.sr-only {
		position: absolute;
		height: 1px;
		width: 1px;
		overflow: hidden;
		clip-path: inset(50%);
		white-space: nowrap;
	}

	::selection {
		color: #fff;
		background: var(--color-primary);
	}
}
/*
@media (prefers-color-scheme: dark) {
	:root {
		color: #ccc;
		background-color: #1a1a1a;
	}
	.resource {
		color: #ccc;
		background-color: #161616;
	}
	.resource:hover {
		border: 1px solid #bbb;
	}
} */
